<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to the debate database</h1>
  <h1>Serena Tam, Kevin Li</h1>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<body>
	<h1>View Records</h1>
	<p><a href="viewstudent">Student</a></p>
	<p><a href="viewschool">School</a></p>
	<p><a href="viewteam">Team</a></p>
	<p><a href="viewtournament">Tournament</a></p>
	<h1>View Rankings</h1>
	<p><a href="student">Student</a></p>
	<p><a href="school">School</a></p>
	<p><a href="team">Team</a></p>
	<h1>Tools</h1>
	<p><a href="tools">Judge Point modification</a></p>
	<p><a href="ranking">Hypothetical ranking tool </a></p>
	<h1>Administrative</h1>
	<p><a href="insertJudges">Registration for judges</a></p>
	<p><a href="insertParticipants">Registration for students</a></p>
	<p><a href="insertTournament">Create new tournament</a></p>
	<p><a href="managetournament">Manage tournament</a></p>
<body>



</body>


</html>
