<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome debate tourn</h1>
  <em>The top 5 thing of today idk</em>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<body>
	<h1>View Rankings</h1>
	<p><a href="student">Student</a></p>
	<p><a href="school">School</a></p>
	<p><a href="team">Team</a></p>
	<h1>Administrative</h1>
	<p><a href="insertJudges">Judges</a></p>
	<p><a href="insertParticipants">Insert Students</a></p>
<body>



</body>


</html>
