
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Click to register student into a team</h1>

  <div>
    {% for n in data %}
    <p> </p>
    <td><a href = "/registerStudentIntoTeam?query={{n}}">{{n}}</a></td>
    {% endfor %}
  </div>
  <p> </p> 

  <b> Insert new student</b>
<form method="POST" action="/insertStudents">
	<p><em>student id</em><input type="text" name="sid"><em>name</em><input type="text" name = "name"><em>gender</em><input type="text" name="gender"> <input type="submit" value="Insert"></p>
</form>


</html>
