
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Students</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  <p> </p> 

  <b> Students ranked by win percentage based on circuit name and region </b>
<form method="POST" action="/studentByWins">
	<p><em>circuit_name</em> <input type="text" name="circuit_name"><em>circuit_region</em> <input type="text" name="circuit_region"> <input type="submit" value="Get"></p>
</form>
  
<p> </p>
<b> Students ranked by speaker points based on circuit name and region </b>
<form method="POST" action="/studentByPoints">
	<p><em>circuit_name</em> <input type="text" name="circuit_name"><em>circuit_region</em> <input type="text" name="circuit_region"> <input type="submit" value="Get"></p>
</form>


  <b> Find studentID. Enter student name </b>
<form method="POST" action="/findStudentID">
	<p><em>student name</em> <input type="text" name="student_name"> <input type="submit" value="Get"></p>
</form>
  
<p> </p>
<b> Find student rank. Enter studentID. </b>
<form method="POST" action="/findStudentRank">
	<p><em>studentID</em> <input type="text" name="student_id"> <em>circuit name</em> <input type="text" name="circuit_name"> <em>circuit region</em> <input type="text" name="circuit_region"> <input type="submit" value="Get"></p>
</form>
<p><a href="/">Go to the main page</a></p>
<body>
</html>
